body {
}
.heading {
    color: #42515F;
    margin-top: 30px;
    margin-left: 188px;
    width: 200px;
    height: 28px;
    font: normal normal bold 22px/19px Roboto;
}
.addUser {
    background-color: #82A70C;
    text-align: center;
    color: #FFFFFF;
    margin-left: 986px;
    margin-top: -75px;
    width: 170px;
    height: 43px;
    font: normal normal normal 22px/19px Roboto;
}
.table2 {
    margin-left:12px;
}