body
{
    font-family:Arial, Helvetica, sans-serif;
}
input[type=text] 
{
    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.sec1
{
    color:navy;
}
.sec2 {
    border: 3px solid White;
    background-color: White;
    margin-left: 300px;
    margin-right: 340px;
    margin-top: 15px;
    margin-bottom: 7px;
    padding-left: 120px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.rbl input[type=radio]
{
    margin-left:30px;
    margin-right:5px;
}
.rbm input[type=radio]
{
    margin-left: 40px;
    margin-right: 8px;
}
.rbn input[type=checkbox] 
{
    margin-left: 30px;
    margin-right: 8px;
}
.rb0 input[type=range]
{
    margin-left:90px;
}
footer{
    margin-top:0px;
}
.btn btn-secondary {
    top: 929px;
    left: 606px;
    width: 61px;
    height: 26px;
    color: #FFFFFF;
}